//Esquema de Colores
//Esquema 1
$white: #FFFFFF;
$snow: #FAFAFA;
$quick_silver: #614d4d;

//Esquema 2
$jelly_bean: #E56353;
$salmon: #E97F72;
$pastel_pink: #F0A9A1;

//Esquema 3
$granite_gray: #686963;
$taupe_gray: #91918D;
$gray: #BABAB8;

//Tipografia
$raleway: 'Raleway', sans-serif;
//Font weight
$bold:700;
$regular:400;
$extra-light:200;

//Tamaño fuentes
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;

//Breakpoints
$break-x-large: 1400px;
$break-large: 1200px;
$break-medium: 991px;
$break-small: 768px;
$break-x-small: 544px;

//Container
$container-x-large: 1300px;
$container-large: 1100px;
$container-medium: 900px;
$container-small: 700px;
$container-x-small: 500px;