.call-to-action{
    background-color: $jelly_bean;
    padding: 5rem 2rem 4rem;
}

.call-to-action__title{
    color: $white;
    text-align: center;
    font-size: $x-large;
    font-weight: $bold;
    margin-bottom: 2rem;
}

@media (max-width:$break-medium){
    .call-to-action__title{
        font-size: $large;
    }
}